.input {
    width: 90%;
    height: 60px;
    border-radius: 20px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 10px;
    margin-bottom: 8px;
    margin-top: 18px;
}